{% extends "gaia-x-document-template/mkdocs_base.yml.j2" %}
{% block site_name %}Self-Description Landing Page{% endblock %}

{% block nav %}
nav:
 - introduction.md
 - sd-taxonomy.md
 - sd-attributes.md
 - tutorials/README.md
 - enduser-tools.md
 - downloads.md
{% endblock %}
